timm
einops
ftfy
facexlib
insightface
onnxruntime
onnxruntime-gpu
SentencePiece
safetensors
torchsde
accelerate==1.9.0
python-multipart==0.0.20
torch==2.7.1
transformers==4.48.3
uvicorn==0.35.0
torchvision==0.22.1
xformers==0.0.31.post1
peft==0.16.0
fastapi==0.116.1
diffusers==0.34.0
pyfacer
transparent_background
addict
future
lmdb
scikit-image
tqdm
yapf
lpips
tb-nightly
